<!DOCTYPE html>
<html>

   <head>
      <title>Amanda Zong</title>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='AmandaZongStyle.css') }}" />
   </head>
  
   <body>
      <h1>Amanda Zong</h1>
      <h1><img src="{{url_for('static', filename='AmandaZongPic.jpg', class="img-responsive center-block")}}"/></h1>

      <div><h2><i>School: </i></h2><h3> SEAS</h3><div>
      <div><h2><i>Class: </i></h2><h3> 2021</h3><div>
      <div><h2><i>Favorite color: </i></h2><h3> Green</h3><div>
      <div><h2><i>Currently listening to: </i></h2><h3> Imagine Dragons</h3><div>
      <div><h2><i>Currently watching: </i></h2><h3> Grey's Anatomy; Stranger Things</h3><div>
      <div><h2><i>Last book read: </i></h2><h3> Homegoing by Yaa Gyasi</h3><div>
   </body>
  
</html>
